@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply font-Pretendard;
  }

  * {
    @apply box-border;
  }

  input,
  textarea {
    @apply w-full rounded-lg p-5 text-14 outline-none ring-1 ring-lightgray transition-shadow md:p-6 md:text-20;
  }
  input:focus,
  textarea:focus {
    @apply ring-primary;
  }

  textarea {
    @apply resize-none;
  }

  button {
    @apply cursor-pointer outline-none;
  }

  a {
    @apply outline-none;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  #wrapper {
    @apply pt-36 md:pt-28;
    min-height: calc(100vh - 10rem);
  }

  footer {
    @apply relative mt-auto h-40;
  }

  .ql-snow .ql-editor pre.ql-syntax {
    @apply text-14 leading-5 md:text-16 md:leading-6;
  }

  .ql-editor {
    @apply text-14 leading-5 md:text-16 md:leading-6;
  }
}
.swiper-pagination-bullet-active {
  @apply bg-secondary;
}
